.container_menu-title {
  color: white;
}

.container_menu-title > h1 {
 margin: 15px auto;
 font-size: 150px;
 display: flex;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 justify-content: center;
}

.container_menu-title > hr {
  margin: 20px 5px;
}
