.container__small-card {
  width: 700px;
  margin-bottom: 15px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__img > img{
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__small-card-separator {
margin-top: 15px;
}
